name: Test

on: [push, pull_request]

env:
    CTEST_OUTPUT_ON_FAILURE: 1
    CTEST_PARALLEL_LEVEL: 4

jobs:
  ci:
    name: "CI"
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: "3.12"
      - run: python -m pip install -U pip
      - run: python -m pip install pin[build]
      - run: echo "CMAKE_PREFIX_PATH=$(cmeel cmake)" >> $GITHUB_ENV
      - run: cmake -B build -S .
      - run: cmake --build build
      - run: cmake --build build -t test
